<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>1024bytes</title>
<link href="http://fonts.googleapis.com/css?family=Quantico:400,700|Open+Sans:400,700" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
	<header class="header">
		<div>
			<nav>
				<ul>
					<li><a href="">Home</a></li>
				</ul>
			</nav>
			<h1>
				<a href="">1024bytes</a>
			</h1>
		</div>
	</header>

	<div class="content">
		<article class="welcome">
			<header>
				<h2 class="logo">Welcome!</h2>
			</header>

			<p>
				Right now we are working on finishing everything so be patience and come here later for more info.
			</p>
			<p>
				Cheers!
			</p>
		<article>
	</div>

	<footer>
		<a href="http://nodejs.org/" class="tech" title="Powered by nodejs" alt="powered by nodejs" target="_blank">
			<img src="nodejs.png"/>
		</a>

		<a href="http://nodejitsu.com/" class="tech" title="We know Nodejitsu!" alt="We know Nodejitsu!" target="_blank">
			<img src="nodejitsu-small.png"/>
		</a>

		<a href="mailto:contacto@1024bytes.es">contacto@1024bytes.es</a>
	</footer>
</body>
</html>
